@charset "UTF-8";
/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.contact-info__link--icon-mail, .contact-info__link--icon-phone {
  display: block;
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav, .contact-info__list, .filter__list, .project__list, .socials__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-footer__button {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__button:hover, .page-footer__button:focus {
  color: #2196f3;
  background-color: #ffffff;
}

.page-header__container, .project__container, .page-footer__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .page-header__container, .project__container, .page-footer__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__container, .project__container, .page-footer__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__container, .project__container, .page-footer__container {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  /* padding-top: 80px;  */
  /* лучше использовать script для задавания паддинга при изменении высоты хедера */
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header__logo {
  color: #2196f3;
  text-decoration: none;
  display: inline-block;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .page-header__logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 81px;
    font-size: 24px;
    line-height: 1.16;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 768px) {
  .page-header__logo--space {
    margin-right: 7px;
  }
}

.page-logo {
  color: #212121;
}

.page-logo--reverse {
  color: #ffffff;
}

.page-footer__logo {
  color: #2196f3;
  text-decoration: none;
  display: block;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .page-footer__logo {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 1.18;
    text-align: left;
  }
}

.appeal {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}

/* Header */
.page-header {
  background-color: #ffffff;
}

.page-header--border {
  width: 100%;
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  position: relative;
  height: 60px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .page-header__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__container {
    position: static;
    height: 80px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.menu__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-self: flex-end;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu__button--icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  fill: currentColor;
}

.menu__button--icon:hover, .menu__button--icon:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

.menu__button--icon-cross_40px {
  display: none;
}

.menu__button.is-open .menu__button--icon-cross_40px {
  display: inline-block;
}

.menu__button.is-open .menu__button--icon-menu {
  display: none;
}

.page-header__menu {
  background-color: #ffffff;
  border-top: 1px solid #ececec;
  padding: 60px 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header__menu.is-open {
  display: inline-block;
  text-align: center;
  z-index: 3;
}

@media screen and (max-width: 767px) {
  .page-header__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .page-header__menu {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 768px;
    height: 80px;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__menu {
    width: 1200px;
  }
}

/* Navigation */
.page-header__nav {
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .page-header__nav {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:last-child {
    margin-bottom: 44px;
  }
}

.site-nav__link {
  color: #212121;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 8px;
  padding-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link--current {
  position: relative;
  color: #2196f3;
}

.site-nav__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

/* Header contacts */
.page-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .page-header__contacts {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-info__list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .contact-info__list {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .contact-info__list {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-info__list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-info__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact-info__link {
  color: #757575;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contact-info__link {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .contact-info__link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-info__link {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.contact-info__link:hover, .contact-info__link:focus {
  color: #2196f3;
}

.contact-info__link--icon-mail {
  width: 16px;
  height: auto;
}

.contact-info__link--icon-phone {
  width: 10px;
  height: auto;
}

/* Фильтр */
.section__project {
  min-width: 480px;
}

.filter__button {
  background-color: #f5f4fa;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  min-width: 73px;
  padding: 5px 21px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  vertical-align: middle;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .filter__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .filter__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

/* Project gallery */
@media screen and (max-width: 767px) {
  .project__list {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .project__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.project__item {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .project__item {
    width: 450px;
    height: 404px;
  }
  .project__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .project__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .project__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

.project__item:hover, .project__item:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.project__link {
  color: #212121;
  text-decoration: none;
  display: inline-block;
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  /* opacity: 0; */
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.project__link:hover .project__overlay,
.project__link:focus .project__overlay {
  opacity: 0.9;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
}

.project__content {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
  background-color: #ffffff;
}

.project__title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__filter {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

/* Footer */
.page-footer {
  color: #ffffff;
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .page-footer {
    min-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .page-footer {
    min-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer {
    min-width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .page-footer__container {
    width: 480px;
    height: 603px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__container {
    width: 768px;
    height: 463px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1200px;
    height: 252px;
    padding: 60px 15px;
  }
}

@media screen and (max-width: 767px) {
  .page-footer__address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__address {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}

.address__text {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__text {
    margin-bottom: 9px;
  }
}

.page-footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.page-footer-contacts:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .page-footer-contacts:not(:last-child) {
    margin-bottom: 9px;
  }
}

.appeal__form {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .appeal__form {
    display: inline-block;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .appeal__form {
    text-align: left;
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
}

@media screen and (min-width: 768px) {
  .appeal__container {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .appeal__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.appeal__email {
  margin: 0;
  width: 450px;
  height: 50px;
  padding: 18px 12px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .appeal__email {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .appeal__email {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.appeal__email::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.appeal__email:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.appeal__email::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.appeal__email::placeholder {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 29px;
}

.page-footer__button--icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  /* align-self: flex-end; */
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  fill: currentColor;
}

.page-footer__socials {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .page-footer__socials {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__socials {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__socials {
    text-align: left;
  }
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  color: #ffffff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link--icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
}
/*# sourceMappingURL=portfolio.css.map */