/* Our customers */

.customers__container {
  @extend %container;
  display: block;
}

.customers__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}
.customers__logo {
  @extend %list;
}

.customers__item {
  width: calc((100% - #{$width-customers}) / 6);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.customers__link--icon {
  width: 50px;
  height: 50px;
  fill: currentColor;

  &-background {
    @include colorTextDecor($socialsColor);
    @include centeredFlex();
    height: 90px;
    border-radius: 4px;

    border: 1px solid $socialsColor;

    transition: color $duration $timingFunction,
      border-color $duration $timingFunction;

    &:hover,
    &:focus {
      color: $accentColor;
      border-color: $accentColor;
    }
  }
}
