/* Our occupation */

.occupation__container {
  @extend %container;
  display: block;
}

.occupation__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

.occupation__list {
  @extend %list;
}

.occupation__item {
  width: calc((100% - #{$width-occupation}) / 3);
  /* border-radius: 4px;
  overflow: hidden; */

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.occupation__link {
  display: block;
  position: relative;
  @include colorTextDecor($tertiaryTextColor);

  &--title {
    position: absolute;
    bottom: 0;
    left: 0;

    padding-top: 27px;
    padding-bottom: 27px;

    // color: $tertiaryTextColor;
    background-color: rgb(47, 48, 58);
    width: 100%;
    opacity: 0.8;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
