/* Our customers */

.customers__container {
  // @extend %container;
  @extend %container__mob;
  display: block;
}

.customers__title {
  font-weight: bold;
  // font-size: 36px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}
.customers__logo {
  @extend %list;
  display: flex;
  flex-wrap: wrap;

  margin: -15px;
}

.customers__item {
  // width: 210px;
  margin: 15px;
  flex-basis: calc((100% - 2 * 30px) / 2);

  // width: calc((100% - #{$width-customers}) / 6);
  // width: calc((100% - #{$width-customers__mob}) / 2);
  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.customers__link--icon {
  width: 50px;
  height: 50px;
  fill: currentColor;

  &-background {
    @include colorTextDecor($socialsColor);
    @include centeredFlex();
    width: 210px;
    height: 90px;
    border-radius: 4px;

    border: 1px solid $socialsColor;

    transition: color $duration $timingFunction,
      border-color $duration $timingFunction;

    &:hover,
    &:focus {
      color: $accentColor;
      border-color: $accentColor;
    }
  }
}
