/* Our features */

.features__container {
  // @extend %container;
  @extend %container__mob;
  border-bottom: 1px solid #ececec;
}

.features__list {
  @extend %list;
  // display: flex;
}

.features__item {
  // width: calc((100% - #{$width-features}) / 4);
  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
  width: 450px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__item--icon {
  width: 70px;
  height: 70px;

  &-background {
    @include centeredFlex();
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: $secondaryBgColor;
  }
}

.features__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 10px;
}

.features__text {
  display: block;
  color: $secondaryTextColor;

  font-size: 14px;
  line-height: 1.71;
}
