/* Our features */

.section__features {
  min-width: 480px;
}

.features__container {
  @extend %container;

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.features__list {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features__item {
  @media screen and (max-width: 767px) {
    width: 450px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    // width: 354px;
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    // width: 270px;
    flex-basis: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

.features__item--icon {
  width: 70px;
  height: 70px;

  &-background {
    @include centeredFlex();
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: $secondaryBgColor;
  }
}

.features__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__text {
  display: block;
  color: $secondaryTextColor;

  font-size: 14px;
  line-height: 1.71;
}
