/* Header */
.page-header {
  background-color: $primaryBgColor;
  /* border-bottom: 1px solid #ececec; */
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 9; */
}

.page-header__container {
  @extend %container;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;

  &--border {
    border-bottom: 1px solid #ececec;
  }
}
