/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  padding: 93px 15px;

  overflow-y: scroll;

  z-index: 2;
  opacity: 1;

  transition: opacity $duration $timingFunction;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  margin: auto;

  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  max-width: 450px;
  min-height: 609px;
  padding: 40px;

  @media screen and (min-width: 800px) and (max-width: 1199px) {
    max-width: 600px;
    width: 100%;
    height: auto;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: transform $duration $timingFunction,
      scale $duration $timingFunction;

    max-width: 528px;
    width: 100%;
    height: 581px;

    &.is-hidden {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;

  transform: translate(-8px, 8px);

  @include centeredFlex();
  width: 30px;
  height: 30px;
  border-radius: 50%;

  color: $tertiaryTextColor;
  background-color: $primaryBgColor;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;

  &--icon {
    display: inline-block;
    width: 18px;
    height: 18px;

    fill: $primaryTextColor;

    .close:hover &,
    .close:focus & {
      fill: $accentColor;
    }
  }
}

.form {
  width: 370px;

  @media screen and (min-width: 800px) and (max-width: 1199px) {
    max-width: 600px;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    max-width: 448px;
    width: 100%;
  }

  &__title {
    margin-bottom: 30px;

    font-size: 20px;
    line-height: 1.5;
    text-align: center;

    color: $primaryTextColor;

    @media screen and (min-width: 1200px) {
      line-height: 1.15;
    }
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  margin-bottom: 28px;

  &:nth-child(6) {
    margin-bottom: 20px;
  }

  &:nth-child(7) {
    margin-bottom: 30px;
  }

  input[type='checkbox'] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    // position: absolute;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
  }

  &--checkbox {
    @include centeredFlex();
    flex-direction: row;
  }
}

.form__label {
  position: absolute;
  top: 50%;
  left: 42px;

  margin: 0;
  font-size: 14px;
  letter-spacing: 0.01em;

  transform: translateY(-50%) scale(1);
  transition: transform $duration $timingFunction,
    scale $duration $timingFunction;

  &--comment {
    position: absolute;
    top: 12px;
    left: 16px;
    transform: scale(1);
    transition: transform $duration $timingFunction;
  }
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 12px 16px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus-within {
    outline: none;
    border: 1px solid $accentColor;

    & ~ .form__icon {
      fill: $accentColor;
    }
  }
}

.comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  &:focus-within {
    outline: none;
    border: 1px solid $accentColor;
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  display: inline-block;
  width: 18px;
  height: 18px;

  fill: currentColor;
  transition: fill $duration $timingFunction;
}

.form__field:focus-within > .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  color: $accentColor;
  transform: translate(-28px, -40px) scale(0.86);
}
.form__field:focus-within > .form__label--comment,
.comment:not(:placeholder-shown) + .form__label--comment {
  color: $accentColor;
  transform: translate(-7px, -33px) scale(0.86);
}

.form__policy {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  display: inline-block;
  margin-left: 8px;

  color: $secondaryTextColor;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }

  &--link {
    color: $accentColor;
  }
}

.checkbox__icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;

  .checkbox:checked + & {
    background-color: $accentColor;
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: $accentColor;
  }
}
.form__button {
  text-align: center;

  &--submit {
    @extend %button;
    padding: 10px 55px;

    transform: scale(1);
    transition: scale $duration $timingFunction;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}
