.page-footer__address {
  margin-bottom: 60px;
}

.address {
  display: flex;
  flex-direction: column;

  color: $tertiaryTextColor;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-align: center;

  &__text {
    // margin-bottom: 9px;
    margin-bottom: 8px;
  }
}

.page-footer-contacts {
  @include colorTextDecor(rgba(255, 255, 255, 0.6));

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
