.address {
  display: flex;
  flex-direction: column;

  color: $tertiaryTextColor;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;

  &__text {
    margin-bottom: 9px;
  }
}

.page-footer-contacts {
  @include colorTextDecor(rgba(255, 255, 255, 0.6));

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
