/* Header contacts */

.contact-info__list {
  @extend %list;
  align-items: center;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-info__item:not(:last-child) {
  margin-right: 30px;
}

.contact-info__link {
  @include colorTextDecor($secondaryTextColor);
  @include centeredFlex();

  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;

  transition: color $duration $timingFunction;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.contact-info__link--icon-mail {
  @extend %contact-info__link--icon;
  width: 16px;
  height: 11.2px;
}
.contact-info__link--icon-phone {
  @extend %contact-info__link--icon;
  width: 10px;
  height: 14.94px;
}

/* .contact-info__link--icon-mail:hover,
.contact-info__link--icon-mail:focus,
.contact-info__link--icon-phone:hover,
.contact-info__link--icon-phone:focus {
  fill: var(--accent-color);
} */

/* .contact-info__link--icon::before {
  content: '';
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-info__link--icon-mail::before {
  background-image: url(../images/mail.svg);
}
.contact-info__link--icon-phone::before {
  background-image: url(../images/phone.svg);
} */
