%logo {
  display: block;

  color: $logoColor;

  font-family: $logoFont;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

%contact-info__link--icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;
  transition: fill $duration $timingFunction;
}

%list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

%button {
  display: inline-block;
  min-width: 200px;
  height: 50px;

  color: $tertiaryTextColor;
  background-color: $accentColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;

  border: 1px solid transparent;
  border-radius: 4px;

  cursor: pointer;

  text-decoration: none;
  vertical-align: middle;

  transition: color $duration $timingFunction,
    background-color $duration $timingFunction;

  &:hover,
  &:focus {
    color: $accentColor;
    background-color: $primaryBgColor;
  }
}

%container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 1px solid black; */
}
