$logoColor: #2196f3;
$titleTextColor: #ffffff;
$accentColor: #2196f3;
$socialsColor: #afb1b8;

$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$tertiaryTextColor: #ffffff;

$primaryBgColor: #ffffff;
$secondaryBgColor: #f5f4fa;
$tertiaryBgColor: #2f303a;

$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;

$mainFont: 'Roboto', sans-serif;
$logoFont: 'Raleway', sans-serif;

$width-features: 90px;
$width-occupation: 60px;
$width-team: 90px;
$width-customers: 150px;
$width-project: 60px;
