html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* padding-top: 80px;  */
  /* лучше использовать script для задавания паддинга при изменении высоты хедера */

  background-color: $primaryBgColor;
  color: $primaryTextColor;
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
