.page-header__logo {
  // @extend %logo;
  @extend %logo__mob;
  margin-right: 269px;
  @include colorTextDecor($logoColor);
}

.page-logo {
  color: $primaryTextColor;

  &--reverse {
    color: $tertiaryTextColor;
  }
}

.page-footer__logo {
  @extend %logo;
  @include colorTextDecor($logoColor);
  // margin-bottom: 10px;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  // font-size: 22px;
  // line-height: 1.18;
}
